@font-face {
    font-family: 'HACKED';
    src:url('fonts/ofont.ru_HACKED.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }  
    ::-webkit-scrollbar {
    display: none;
	}

body{
  background-color: #000000;
}

.background-GIF{
height: 1370px;
width: auto;
position: absolute;
left: 400px;
opacity: 0.3;
}

.light-frame{
  width: 500px;
  height: 500px;
  color: #bd2d2d;
  position: absolute;
  left: 900px;
}

/*хэдэр*/    
.header{
  position: fixed;
  height: 65px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  gap: 2%;
  background-color: rgb(3, 3, 3);
  border-radius: 0 0 0px 0px;
  z-index: 1000;
}
.logo{
	display: inline-block;
  width: 135px;
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 0px;  
  font-size: 30px;
  box-sizing: border-box;
	padding: 0 0px;
	outline: none;
	border: none;    
	border-radius: 10px;
	height: auto;
	line-height: 37px;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	color: rgb(240, 240, 240);
	background-color:  rgb(3, 3, 3);
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out;
	z-index: 4;
}
.line1{
display: inline-block;
width: 3px;
height: 40px;
margin-top: 12px;
background-color: rgb(240, 240, 240);
z-index: 4;

}
.AIMUSIC{
  font-family: 'HACKED';
	display: inline-block;
  width: 200px;
  margin-top: 12px;
  margin-right: 0px;    
  font-size: 30px;
  box-sizing: border-box;
	padding: 0 0px;
	outline: none;
	border: none;    
	border-radius: 10px;
	height: 38px;
	line-height: 37px;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	color: rgb(240, 240, 240);
	background-color:  rgb(3, 3, 3);
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out;
	z-index: 4;
}
/*хэдэр*/ 


/*анимация текста+кнопки*/ 
.wrapper {
	font-family: 'HACKED';
	display: inline-block;
	height: 65px;
	background: rgb(3, 3, 3);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	font-size: 30px;
	margin-top: 0px;
	color: rgb(175, 175, 175, 0);
	text-transform: uppercase;
	text-align: center;
	&__highlight {
		background: #d83aeb;
		padding: 8px;
	}
}

.button {
	font-family: 'HACKED';
	outline: none;
	position: relative;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	color: rgb(240, 240, 240);
	background-color: rgb(175, 175, 175, 0);
	border: unset;
	padding: 16px 32px;
	font-size: 30px;
	line-height: 1.6;
	border-radius: 0.375rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	letter-spacing: 3px;

	&:hover {
		color: #fff;
		background-color: rgb(175, 175, 175, 0);
  }
}

.glitch {
	display: inline-block;
	position: relative;
	animation: glitch-skew 1s linear infinite alternate-reverse;

	&:before {
		content: "РЕДАКТОР";
		position: absolute;
		top: 0px;
		width: 110%;
		left: -5px;
		text-shadow: -2px 0 #ff00c1;
		clip: rect(44px, 450px, 56px, 0);
		animation: glitch-anim 5s linear infinite alternate-reverse;
	}

	&:after {
		text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
		animation: glitch-anim2 1s linear infinite alternate-reverse;
		content: "РЕДАКТОР";
		position: absolute;
		top: 0px;
		width: 110%;
		left: -9px;
	}
}

@keyframes glitch-anim {
  0% {
    clip: rect(12px, 9999px, 78px, 0);
    transform: skew(0.5deg);
  }
  5% {
    clip: rect(32px, 9999px, 53px, 0);
    transform: skew(0.37deg);
  }
  10% {
    clip: rect(80px, 9999px, 98px, 0);
    transform: skew(0.38deg);
  }
  15% {
    clip: rect(13px, 9999px, 1px, 0);
    transform: skew(0.93deg);
  }
  20% {
    clip: rect(73px, 9999px, 71px, 0);
    transform: skew(0.85deg);
  }
  25% {
    clip: rect(45px, 9999px, 64px, 0);
    transform: skew(0.61deg);
  }
  30% {
    clip: rect(51px, 9999px, 10px, 0);
    transform: skew(0.41deg);
  }
  35% {
    clip: rect(7px, 9999px, 97px, 0);
    transform: skew(0.33deg);
  }
  40% {
    clip: rect(62px, 9999px, 89px, 0);
    transform: skew(0.6deg);
  }
  45% {
    clip: rect(84px, 9999px, 26px, 0);
    transform: skew(0.1deg);
  }
  50% {
    clip: rect(67px, 9999px, 56px, 0);
    transform: skew(0.38deg);
  }
  55% {
    clip: rect(49px, 9999px, 8px, 0);
    transform: skew(0.77deg);
  }
  60% {
    clip: rect(98px, 9999px, 13px, 0);
    transform: skew(0.87deg);
  }
  65% {
    clip: rect(100px, 9999px, 67px, 0);
    transform: skew(0.33deg);
  }
  70% {
    clip: rect(77px, 9999px, 58px, 0);
    transform: skew(0.05deg);
  }
  75% {
    clip: rect(86px, 9999px, 29px, 0);
    transform: skew(0.58deg);
  }
  80% {
    clip: rect(8px, 9999px, 66px, 0);
    transform: skew(0.17deg);
  }
  85% {
    clip: rect(80px, 9999px, 31px, 0);
    transform: skew(0.34deg);
  }
  90% {
    clip: rect(67px, 9999px, 27px, 0);
    transform: skew(0.36deg);
  }
  95% {
    clip: rect(66px, 9999px, 82px, 0);
    transform: skew(0.52deg);
  }
  to {
    clip: rect(67px, 9999px, 70px, 0);
    transform: skew(0.04deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(27px, 9999px, 84px, 0);
    transform: skew(0.28deg);
  }
  5% {
    clip: rect(75px, 9999px, 51px, 0);
    transform: skew(0.79deg);
  }
  10% {
    clip: rect(57px, 9999px, 36px, 0);
    transform: skew(0.22deg);
  }
  15% {
    clip: rect(36px, 9999px, 19px, 0);
    transform: skew(0.7deg);
  }
  20% {
    clip: rect(16px, 9999px, 3px, 0);
    transform: skew(0.61deg);
  }
  25% {
    clip: rect(74px, 9999px, 3px, 0);
    transform: skew(0.75deg);
  }
  30% {
    clip: rect(42px, 9999px, 100px, 0);
    transform: skew(0.92deg);
  }
  35% {
    clip: rect(38px, 9999px, 25px, 0);
    transform: skew(0.74deg);
  }
  40% {
    clip: rect(15px, 9999px, 39px, 0);
    transform: skew(0.75deg);
  }
  45% {
    clip: rect(77px, 9999px, 27px, 0);
    transform: skew(0.76deg);
  }
  50% {
    clip: rect(88px, 9999px, 38px, 0);
    transform: skew(0.71deg);
  }
  55% {
    clip: rect(7px, 9999px, 16px, 0);
    transform: skew(0.78deg);
  }
  60% {
    clip: rect(66px, 9999px, 99px, 0);
    transform: skew(0.02deg);
  }
  65% {
    clip: rect(52px, 9999px, 11px, 0);
    transform: skew(0.67deg);
  }
  70% {
    clip: rect(11px, 9999px, 40px, 0);
    transform: skew(0.1deg);
  }
  75% {
    clip: rect(1px, 9999px, 27px, 0);
    transform: skew(0.34deg);
  }
  80% {
    clip: rect(89px, 9999px, 77px, 0);
    transform: skew(0.47deg);
  }
  85% {
    clip: rect(86px, 9999px, 100px, 0);
    transform: skew(0.1deg);
  }
  90% {
    clip: rect(28px, 9999px, 84px, 0);
    transform: skew(0.01deg);
  }
  95% {
    clip: rect(80px, 9999px, 58px, 0);
    transform: skew(0.93deg);
  }
  to {
    clip: rect(63px, 9999px, 85px, 0);
    transform: skew(0.87deg);
  }
}

@keyframes glitch-skew {
  0% {
    transform: skew(2deg);
  }
  10% {
    transform: skew(5deg);
  }
  20% {
    transform: skew(-3deg);
  }
  30% {
    transform: skew(0deg);
  }
  40% {
    transform: skew(-1deg);
  }
  50% {
    transform: skew(1deg);
  }
  60% {
    transform: skew(-3deg);
  }
  70% {
    transform: skew(2deg);
  }
  80% {
    transform: skew(-2deg);
  }
  90% {
    transform: skew(-2deg);
  }
  to {
    transform: skew(-4deg);
  }
}

.wrapperp {
	font-family: 'HACKED';
	display: inline-block;
	height: 65px;
	background: rgb(3, 3, 3);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	font-size: 30px;
	margin-top: 0px;
	color: rgb(175, 175, 175, 0);
	text-transform: uppercase;
	text-align: center;
	&__highlight {
		background: #d83aeb;
		padding: 8px;
	}
}

.buttonp {
	font-family: 'HACKED';
	outline: none;
	position: relative;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	color: rgb(240, 240, 240);
	background-color: rgb(175, 175, 175, 0);
	border: unset;
	padding: 16px 32px;
	font-size: 30px;
	line-height: 1.6;
	border-radius: 0.375rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	letter-spacing: 3px;

	&:hover {
		color: #fff;
		background-color: rgb(175, 175, 175, 0);
  }
}

.glitchp {
	display: inline-block;
	position: relative;
	animation: glitch-skew 1s linear infinite alternate-reverse;

	&:before {
		content: "ПРОЕКТЫ";
		position: absolute;
		top: 0px;
		width: 110%;
		left: -5px;
		text-shadow: -2px 0 #ff00c1;
		clip: rect(44px, 450px, 56px, 0);
		animation: glitch-anim 5s linear infinite alternate-reverse;
	}

	&:after {
		text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
		animation: glitch-anim2 1s linear infinite alternate-reverse;
		content: "ПРОЕКТЫ";
		position: absolute;
		top: 0px;
		width: 110%;
		left: -9px;
	}
}

@keyframes glitch-anim {
  0% {
    clip: rect(12px, 9999px, 78px, 0);
    transform: skew(0.5deg);
  }
  5% {
    clip: rect(32px, 9999px, 53px, 0);
    transform: skew(0.37deg);
  }
  10% {
    clip: rect(80px, 9999px, 98px, 0);
    transform: skew(0.38deg);
  }
  15% {
    clip: rect(13px, 9999px, 1px, 0);
    transform: skew(0.93deg);
  }
  20% {
    clip: rect(73px, 9999px, 71px, 0);
    transform: skew(0.85deg);
  }
  25% {
    clip: rect(45px, 9999px, 64px, 0);
    transform: skew(0.61deg);
  }
  30% {
    clip: rect(51px, 9999px, 10px, 0);
    transform: skew(0.41deg);
  }
  35% {
    clip: rect(7px, 9999px, 97px, 0);
    transform: skew(0.33deg);
  }
  40% {
    clip: rect(62px, 9999px, 89px, 0);
    transform: skew(0.6deg);
  }
  45% {
    clip: rect(84px, 9999px, 26px, 0);
    transform: skew(0.1deg);
  }
  50% {
    clip: rect(67px, 9999px, 56px, 0);
    transform: skew(0.38deg);
  }
  55% {
    clip: rect(49px, 9999px, 8px, 0);
    transform: skew(0.77deg);
  }
  60% {
    clip: rect(98px, 9999px, 13px, 0);
    transform: skew(0.87deg);
  }
  65% {
    clip: rect(100px, 9999px, 67px, 0);
    transform: skew(0.33deg);
  }
  70% {
    clip: rect(77px, 9999px, 58px, 0);
    transform: skew(0.05deg);
  }
  75% {
    clip: rect(86px, 9999px, 29px, 0);
    transform: skew(0.58deg);
  }
  80% {
    clip: rect(8px, 9999px, 66px, 0);
    transform: skew(0.17deg);
  }
  85% {
    clip: rect(80px, 9999px, 31px, 0);
    transform: skew(0.34deg);
  }
  90% {
    clip: rect(67px, 9999px, 27px, 0);
    transform: skew(0.36deg);
  }
  95% {
    clip: rect(66px, 9999px, 82px, 0);
    transform: skew(0.52deg);
  }
  to {
    clip: rect(67px, 9999px, 70px, 0);
    transform: skew(0.04deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(27px, 9999px, 84px, 0);
    transform: skew(0.28deg);
  }
  5% {
    clip: rect(75px, 9999px, 51px, 0);
    transform: skew(0.79deg);
  }
  10% {
    clip: rect(57px, 9999px, 36px, 0);
    transform: skew(0.22deg);
  }
  15% {
    clip: rect(36px, 9999px, 19px, 0);
    transform: skew(0.7deg);
  }
  20% {
    clip: rect(16px, 9999px, 3px, 0);
    transform: skew(0.61deg);
  }
  25% {
    clip: rect(74px, 9999px, 3px, 0);
    transform: skew(0.75deg);
  }
  30% {
    clip: rect(42px, 9999px, 100px, 0);
    transform: skew(0.92deg);
  }
  35% {
    clip: rect(38px, 9999px, 25px, 0);
    transform: skew(0.74deg);
  }
  40% {
    clip: rect(15px, 9999px, 39px, 0);
    transform: skew(0.75deg);
  }
  45% {
    clip: rect(77px, 9999px, 27px, 0);
    transform: skew(0.76deg);
  }
  50% {
    clip: rect(88px, 9999px, 38px, 0);
    transform: skew(0.71deg);
  }
  55% {
    clip: rect(7px, 9999px, 16px, 0);
    transform: skew(0.78deg);
  }
  60% {
    clip: rect(66px, 9999px, 99px, 0);
    transform: skew(0.02deg);
  }
  65% {
    clip: rect(52px, 9999px, 11px, 0);
    transform: skew(0.67deg);
  }
  70% {
    clip: rect(11px, 9999px, 40px, 0);
    transform: skew(0.1deg);
  }
  75% {
    clip: rect(1px, 9999px, 27px, 0);
    transform: skew(0.34deg);
  }
  80% {
    clip: rect(89px, 9999px, 77px, 0);
    transform: skew(0.47deg);
  }
  85% {
    clip: rect(86px, 9999px, 100px, 0);
    transform: skew(0.1deg);
  }
  90% {
    clip: rect(28px, 9999px, 84px, 0);
    transform: skew(0.01deg);
  }
  95% {
    clip: rect(80px, 9999px, 58px, 0);
    transform: skew(0.93deg);
  }
  to {
    clip: rect(63px, 9999px, 85px, 0);
    transform: skew(0.87deg);
  }
}

@keyframes glitch-skew {
  0% {
    transform: skew(2deg);
  }
  10% {
    transform: skew(5deg);
  }
  20% {
    transform: skew(-3deg);
  }
  30% {
    transform: skew(0deg);
  }
  40% {
    transform: skew(-1deg);
  }
  50% {
    transform: skew(1deg);
  }
  60% {
    transform: skew(-3deg);
  }
  70% {
    transform: skew(2deg);
  }
  80% {
    transform: skew(-2deg);
  }
  90% {
    transform: skew(-2deg);
  }
  to {
    transform: skew(-4deg);
  }
}

.button1{
  font-family: 'HACKED';
	display: inline-block;
  width: 200px;
  margin-right: 200px;
  height: 50px;
  margin: 12px;
  font-size: 30px;
	padding: 0 24px;
	height: 50px;
	line-height: 37px;
	color: 101010;
	background-color: #e2e2e2;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
  text-decoration: none;
  outline: none;
	border: none;
	position: relative;
	left: 637px;
	top: -5px;
  transition: all 0.1s ease;
}
.button1:active {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255);
  box-shadow: -2px 0px 5px 0px rgb(197, 217, 219);
}

/*анимация текста+кнопки*/ 

/*подложка под фреймы*/ 
.framebg{
	display: flex;
	position: absolute;
	top: -10px;
	left: -10px;
	width: 715px;
	height: 1380px;
	background-color: #727272;
}
/*подложка под фреймы*/ 


/*окно жанров*/
.frame0{
	display: flex;
	position: absolute;
	top: 65px;
	left: -10px;
	width: 715px;
	height: 300px;
	background-color: #101010;
	z-index: 2;
  
}
.janres{
	display: flex;
	position: relative;
	font-family: 'HACKED';
	margin-left: 35px;
	font-size: 30px;
	color: rgb(240, 240, 240);
}
.img{
	position: absolute;
  white-space: nowrap;
	width: 679px;
  height: 200px;
	margin: 8px;
	top: 55px;
  left: 8px;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 10px;
}
.img1{
	height: 190px;
	width: 190px;
	margin: 8px;
	top: 45px;
  box-shadow: 0px 0px 6px 2px rgb(197, 217, 219);
  transition: all 0.5s ease;
  cursor: pointer;
}
.img1:hover{
   box-shadow: 0px 0px 10px 3px rgb(183, 138, 219);
}
/*окно жанров*/


/*окно текста*/
.frame1{
	display: flex;
	position: absolute;
	top: 365px;
	left: -10px;
	width: 715px;
	height: 480px;
	background-color: #e2e2e2;
	z-index: 2;
}
.song{
  position: relative;
	font-family: 'HACKED';
	margin-left: 35px;
	font-size: 30px;
	color: #101010;
}
.buttonverse{
  position: absolute;
  margin-left: 35px;
	color: rgb(240, 240, 240);
  top: 70px;
}
.verse{
  background-color: #101010; 
  padding: 10px 15px 10px 15px;
  font-family: 'HACKED';
  font-size: 16px;
  color: #e2e2e2;
  cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
  text-decoration: none;
  outline: none;
	border: none;
	transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out;
}
.verse:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.verse:hover {
	box-shadow: 0px 0px 8px 3px  #9ee0ff, 0 2px 5px 0  #cfcfcf;
}
.verse:active {
	background-color: #e2e2e2 !important;
}
.verse:disabled {
	background-color: #eee;
	color: #444;
	pointer-events: none;
}

.chorus{
  background-color: #101010;  
  padding: 10px 15px 10px 15px;
  margin-left: 10px;
  font-family: 'HACKED';
  font-size: 16px;
  color: #e2e2e2;
  cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
  text-decoration: none;
  outline: none;
	border: none;
	transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out;
}
.chorus:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.chorus:hover {
	box-shadow: 0px 0px 8px 3px  #9ee0ff, 0 2px 5px 0  #cfcfcf;
}
.chorus:active {
	background-color: #e2e2e2 !important;
}
.chorus:disabled {
	background-color: #eee;
	color: #444;
	pointer-events: none;
}

.intro{
  background-color: #101010; 
  padding: 10px 15px 10px 15px;
  margin-left: 10px;
  font-family: 'HACKED';
  font-size: 16px;
  color: #e2e2e2;
  cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
  text-decoration: none;
  outline: none;
	border: none;
	transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out; 
}
.intro:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.intro:hover {
	box-shadow: 0px 0px 8px 3px  #9ee0ff, 0 2px 5px 0  #cfcfcf;
}
.intro:active {
	background-color: #e2e2e2 !important;
}
.intro:disabled {
	background-color: #eee;
	color: #444;
	pointer-events: none;
}

.more{
  background-color: #101010; 
  padding: 10px 15px 10px 15px;
  margin-left: 10px;
  font-family: 'HACKED';
  font-size: 16px;
  color: #e2e2e2;
  cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
  text-decoration: none;
  outline: none;
	border: none;
	transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out;
}
.more:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.more:hover {
	box-shadow: 0px 0px 8px 3px  #9ee0ff, 0 2px 5px 0  #cfcfcf;
}
.more:active {
	background-color: #e2e2e2 !important;
}
.more:disabled {
	background-color: #eee;
	color: #444;
	pointer-events: none;
}

.tracks{
  background-color: #101010; 
  padding: 10px 15px 10px 15px;
  margin-left: 168px;
  font-family: 'HACKED';
  font-size: 16px;
  color: #e2e2e2;
  cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
  text-decoration: none;
  outline: none;
	border: none;
	transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out;
}
.tracks:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.tracks:hover {
	box-shadow: 0px 0px 8px 3px  #9ee0ff, 0 2px 5px 0  #cfcfcf;
}
.tracks:active {
	background-color: #e2e2e2 !important;
}
.tracks:disabled {
	background-color: #eee;
	color: #444;
	pointer-events: none;
}

.form-control{
  position: absolute;
  font-family: 'HACKED';
	font-size: 16px;
  top: 125px;
  margin-left: 35px;
  padding: 10px;
  height: 310px;
  width: 632px;
  background-color: #101010;
  color: #e2e2e2;
  letter-spacing: 1px;
  box-shadow: inset 0px 0px 10px 0px  #e2e2e2;
} 
/*окно текста*/

/*окно исполнителя*/
.frame2{
	display: flex;
	position: absolute;
	top: 845px;
	left: -10px;
	width: 715px;
	height: 135px;
	background-color: #101010;
	z-index: 2;
  
}
.song1{
  position: relative;
	font-family: 'HACKED';
	margin-left: 35px;
  top: -5px;
	font-size: 30px;
	color: #e2e2e2;
}
.buttonperf{
  position: absolute;
  font-family: 'HACKED';
	font-size: 16px;
  margin-left: 35px;
	color: #101010;
  top: 75px;
}
.male{
  background-color: #e2e2e2; 
  padding: 10px 15px 10px 15px;
  font-family: 'HACKED';
  font-size: 16px;
  color: #101010;
  cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
  text-decoration: none;
  outline: none;
	border: none;
	transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out; 
}
.male:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.male:hover {
	box-shadow: 0px 0px 8px 3px  #9ee0ff, 0 2px 5px 0  #cfcfcf;
}
.male:active {
	background-color: #101010 !important;
}
.male:disabled {
	background-color: #eee;
	color: #444;
	pointer-events: none;
}

.female{
  background-color: #e2e2e2; 
  padding: 10px 15px 10px 15px;
  margin-left: 10px;
  font-family: 'HACKED';
  font-size: 16px;
  color: #101010;
  cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
  text-decoration: none;
  outline: none;
	border: none;
	transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out; 
}
.female:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.female:hover {
	box-shadow: 0px 0px 8px 3px  #9ee0ff, 0 2px 5px 0  #cfcfcf;
}
.female:active {
	background-color: #101010 !important;
}
.female:disabled {
	background-color: #eee;
	color: #444;
	pointer-events: none;
}

.exiting{
  background-color: #e2e2e2; 
  padding: 10px 15px 10px 15px;
  margin-left: 10px;
  font-family: 'HACKED';
  font-size: 16px;
  color: #101010;
  cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
  text-decoration: none;
  outline: none;
	border: none;
	transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out; 
}
.exiting:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.exiting:hover {
	box-shadow: 0px 0px 8px 3px  #9ee0ff, 0 2px 5px 0  #cfcfcf;
}
.exiting:active {
	background-color: #101010 !important;
}
.exiting:disabled {
	background-color: #eee;
	color: #444;
	pointer-events: none;
}


/*окно исполнителя*/

/*окно эмоции*/
.frame3{
	display: flex;
	position: absolute;
	top: 980px;
	left: -10px;
	width: 715px;
	height: 150px;
	background-color: #e2e2e2;
	z-index: 2;
}
.song2{
  position: relative;
	font-family: 'HACKED';
	margin-left: 35px;
  top: -5px;
	font-size: 30px;
	color: #101010;
}
.form-control1{
  position: absolute;
  font-family: 'HACKED';
	font-size: 16px;
  top: 80px;
  margin-left: 35px;
  padding: 10px;
  height: 20px;
  width: 632px;
  background-color: #101010;
  color: #e2e2e2;
  letter-spacing: 1px;
  box-shadow: inset 0px 0px 10px 0px  #e2e2e2;
}
/*окно эмоции*/

/*окно названия*/
.frame4{
	display: flex;
	position: absolute;
	top: 1130px;
	left: -10px;
	width: 715px;
	height: 150px;
	background-color: #e2e2e2;
	z-index: 2;
}
.song3{
  position: relative;
	font-family: 'HACKED';
	margin-left: 35px;
  top: -5px;
	font-size: 30px;
	color: #101010;
}
.form-control2{
  position: absolute;
  font-family: 'HACKED';
	font-size: 16px;
  top: 80px;
  margin-left: 35px;
  padding: 10px;
  height: 20px;
  width: 632px;
  background-color: #101010;
  color: #e2e2e2;
  letter-spacing: 1px;
  box-shadow: inset 0px 0px 10px 0px  #e2e2e2;
}
/*окно названия*/

.framebg1{
	display: flex;
	position: absolute;
	top: 13vh;
	left:  780px;
	width: 850px;
	height: 79vh;
	background-color: #D9D9D9;
	z-index: 4;
  box-shadow: 0 0px 10px 2px  rgb(245, 245, 245);
}
.wincreate{
	display: flex;
	position: relative;
	font-family: 'HACKED';
  top: 10px;
	margin-left: 40px;
	font-size: 30px;
	color: #727272;
}
.win{
  position: absolute;
  top: 110px;
  margin-left: 40px;
  width: 770px;
  height: 64vh;
  color: #e2e2e2;
  border: 1px dashed #727272;
  
}
.add{
  display: flex;
	position: relative;
	font-family: 'HACKED';
  top: 200px;
	margin-left: 220px;
  margin-right: 220px;
	font-size: 25px;
	color: #727272;
  text-align: center;
}

/*окно музыки справо*/
.framemy1{
	position: absolute;
	top: 65px;
	left:  1705px;
	width: 215px;
	height: 1080px;
	background-color: #D9D9D9;
	z-index: 4;
  box-shadow: -5px -1px 8px 0px rgb(245, 245, 245);
}
.play1, .play2, .play3, .play4{
  height: 45px;
  width: auto;
  margin-left: 10px;
  margin-top: 10px;
  padding: 3px;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: rgba(114, 114, 114, 0%);
}
.play1:hover {
  transform: scale(1.35);
  background-color: rgba(255, 255, 255);
  box-shadow: -2px 0px 5px 0px rgb(197, 217, 219);
}
.play2:hover {
  transform: scale(1.35);
  background-color: rgba(255, 255, 255);
  box-shadow: -2px 0px 5px 0px rgb(197, 217, 219);
}
.play3:hover {
  transform: scale(1.35);
  background-color: rgba(255, 255, 255);
  box-shadow: -2px 0px 5px 0px rgb(197, 217, 219);
}
.play4:hover {
  transform: scale(1.35);
  background-color: rgba(255, 255, 255);
  box-shadow: -2px 0px 5px 0px rgb(197, 217, 219);
}
/*окно музыки справо*/

/*окно кнопки снизу*/
.framecreate{
	display: flex;
	position: absolute;
	top: 90.2vh;
	left: -10px;
	width: 715px;
	height: 110px;
	background-color: #575757;
	z-index: 1000;
  align-items: center;
  justify-content: center;
}

.buttoncreate{
  position: relative;
	font-family: 'HACKED';
  top: -6px;
	font-size: 30px;
	color: #e2e2e2;
  background-color: #101010;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 33px;
  padding-right: 33px;
  letter-spacing: 2px;
  box-shadow: inset 0px 0px 10px 0px  rgba(87, 87, 87, 100%);
  cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
  text-decoration: none;
  outline: none;
	border: none;
	transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out;
}

.buttoncreate:active {
	background-color: rgba(87, 87, 87, 100%)!important;
}

/*окно кнопки снизу*/

/*ПЛЕЕР*/
.music{
  width: 1915px;
  height: 150px;
  background-color: #00fff9;
}